td,
th,
ul {
margin: 0;
padding: 0;
}

body,
td,
th,
ul {
padding: 0;
}

hr {
border: 0;
border-top-style: none;
border-top-width: 0px;
border-top: 1px solid #eee;
margin-bottom: 15px;
margin-top: 15px;
}

a:active,
a:link,
a:visited {
color: #3366ff;
text-decoration: none;
}

a:hover {
color: orange;
}

.banner {
border: 1px solid #a6a6a6;
height: 87.5px;
width: 320px;
}
body {
background: url(/images/cloudy4.jpg) top no-repeat fixed #67b6f9;
background-size: 120%;
color: #555;
font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
font-size: 16px;
margin: auto;
max-width: 1024px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
margin: 3px 0;
}

img {
border-style: none;
}

li {
margin: 4px 0 4px 20px;
text-align: left;
}

p {
margin: 6px 0;
}

table {
border: 0;
border-collapse: collapse;
width: 100%;
}

td,
th {
text-align: center;
}

@-webkit-keyframes animatedBackground {
from {
background-position: 2000px 0;
}
to {
background-position: 0 0;
}
}

@keyframes animatedBackground {
from {
background-position: 2000px 0;
}
to {
background-position: 0 0;
}
}

.cloud-s5e40 {
animation: animatedBackground 60s linear infinite;
background-image: url(/images/tripple-cloud-s5e40.png);
background-position: 0 0;
background-repeat: repeat-x;
background-size: 1200px;
height: 110px;
pointer-events: none;
position: absolute;
width: 100%;
z-index: 2;
}

.distant-lands-banner {
align: center;
border: 1px solid #fff;
margin: 4px 0px;
}

.downloadlink {
border: 2px solid #3366ff;
border-radius: 7px;
color: #3366ff;
font-size: 14px;
padding: 1px 5px;
}

.episodeincluded {
font-size: 13px;
}

.finnhat {
background: #fff;
border-radius: 0 0 10px 10px;
color: #404040;
margin-bottom: 20px;
padding: 5px 18px;
position: relative;
text-align: left;
}

.finnshirt,
.finnshort {
text-align: center;
position: relative;
}

.finnhat.green {
padding-left: 15px;
padding-right: 15px;
}

.finnshirt {
background: #4598e6;
border: 3px solid #e7fbff;
border-radius: 10px 10px 0 0;
color: #fff;
font-size: 30px;
margin-top: 20px;
padding: 3px;
vertical-align: top;
}

.finnshirt a {
color: #fffaee;
text-decoration: underline;
}

.finnshort {
background: #e7fbff;
border-radius: 0 0 10px 10px;
margin-bottom: 20px;
padding: 20px 0;
}

.finnshirt.green,
.finnshirt.white {
border: 3px solid #fff;
}

.finnshirt.green {
background: #219e00;
}

.grassbackground {
background-color: #82a733;
background-image: url(/images/grass-finale.jpg);
background-size: 200px 125px;
border: 1px solid #d3e7a8;
margin-bottom: 2px;
overflow: hidden;
padding: 0;
position: relative;
}

.green-banner > #line1,
.green-banner > #line2 {
display: block;
margin: 2px 0;
text-align: center;
}

.green-banner {
background-image: url(/images/phil-and-jake.png);
background-position: right;
background-repeat: no-repeat;
background-size: 160px;
padding: 6px 0;
text-shadow: 2px 2px 5px #000;
}

.green-banner > #line1 {
color: #fff;
font-size: 22px;
}

.green-banner > #line2 {
color: #f2f2f2;
font-size: 18px;
}

div.logo {
margin-bottom: -16px;
padding: 15px 0;
text-align: center;
}

div.logo img {
height: auto;
width: 60%;
}

span.name2 {
font-size: 20px;
font-weight: 700;
}

a.navlink {
background: #008ae6;
border-radius: 6px;
color: #fff;
font-size: 16pt;
padding: 3px 10px;
}

a.navnumber {
background: #008ae6;
border-radius: 14px;
color: #fff;
display: inline-block;
font-size: 17pt;
height: 28px;
line-height: 28px;
margin-bottom: 10px;
margin-right: 7px;
overflow: hidden;
text-align: center;
width: 28px;
}

.navlink:hover, .navnumber:hover {
background: #004d80;
color: #fff;
}

.purple-banner div span {
display: block;
}

.purple-banner {
background-color: #f66804;
background-image: url(/images/sunset.jpg);
background-position: center center;
background-size: cover;
border: 1px solid #fff;
color: #fff;
height: 90px;
margin-top: 4px;
padding: 5px;
position: relative;
}

.purple-banner a {
color: #fff;
text-decoration: underline;
}

.purple-banner a:hover {
text-decoration: none;
}

.purple-banner div {
background-color: rgba(0, 0, 0, 0.5);
border-radius: 10px;
bottom: 5px;
left: 0;
margin: auto;
max-width: 600px;
padding: 4px 0;
position: absolute;
right: 0;
text-align: center;
text-shadow: 0 0 5px #000;
}

.purple-banner div img {
height: 5px;
width: 7px;
}

.purple-banner div #atvs {
font-size: 24px;
}

.purple-banner div #linhdinh {
font-size: 14px;
}

.rmenu {
background-color: #fee5fd;
border-radius: 10px;
color: #b30000;
margin: 10px 0;
padding: 14px;
}

.rmenu a {
border-bottom: 1px solid #b30000;
color: #b30000;
}

@media screen and (min-width: 780px) {
div.logo {
background-size: auto;
margin-bottom: -32px;
}
div.logo img {
height: 207px;
width: 470px;
}
}
@media screen and (min-width: 1024px) {
.cloud-s5e40 {
background-size: 2000px;
}
body {
background-attachment: fixed;
background-position: center;
background-size: cover;
}
.finnhat {
padding: 8px 22px;
}
.finnhat.green {
padding-left: 30px;
padding-right: 30px;
}
.finnshirt {
font-size: 32px;
letter-spacing: 2px;
}
.green-banner {
background-size: 250px;
padding: 15px 0;
}
.green-banner > #line1 {
font-size: 32px;
font-weight: 700;
}
.green-banner > #line2 {
font-size: 24px;
font-weight: 700;
}
span.name2 {
font-size: 26px;
}
.purple-banner {
height: 220px;
}
.purple-banner div {
bottom: 15px;
}
.purple-banner a {
font-size: 14px;
}
.purple-banner div img {
height: 10px;
width: 14px;
}
.purple-banner div #atvs {
font-size: 32px;
}
.purple-banner div #linhdinh {
font-size: 14px;
}
}
