.divTableCell,
img {
vertical-align: middle;
}

td,
th,
ul {
margin: 0;
padding: 0;
}

body,
td,
th,
ul {
padding: 0;
}

.relation a:hover img,
del,
div.episode a:hover img {
opacity: 0.5;
}

.subtab a,
.tabs {
white-space: nowrap;
}

abbr[title] {
border-bottom: 1px dotted;
cursor: help;
}

a:active,
a:link,
a:visited {
color: #0462af;
text-decoration: none;
}

a:hover {
color: #51aefb;
}

body {
background: url(/images/cloudy4.jpg) top no-repeat fixed #67b6f9;
background-size: 120%;
color: #555;
font-family: Arial;
font-size: 16px;
margin: auto;
max-width: 1024px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
margin: 3px 0;
}

img {
border-style: none;
}

li {
margin: 4px 0 4px 20px;
text-align: left;
}

p {
margin: 6px 0;
}

table {
border: 0;
border-collapse: collapse;
width: 100%;
}

td,
th {
text-align: center;
}

.button {
background-size: 14px;
height: 14px;
left: 0;
margin: auto;
position: absolute;
right: 0;
top: 3px;
transition: all 0.1s linear;
width: 14px;
}

.comment {
min-height: 160px;
}

@-webkit-keyframes animatedBackground {
from {
background-position: 2000px 0;
}
to {
background-position: 0 0;
}
}

@keyframes animatedBackground {
from {
background-position: 2000px 0;
}
to {
background-position: 0 0;
}
}

.cloud-s5e40 {
animation: animatedBackground 60s linear infinite;
background-image: url(/images/tripple-cloud-s5e40.png);
background-position: 0 0;
background-repeat: repeat-x;
background-size: 1200px;
height: 110px;
pointer-events: none;
position: absolute;
width: 100%;
z-index: 2;
}

.divTable {
display: table;
width: 100%;
}

.divTableBody {
display: table-row-group;
}

.distant-lands-banner {
align: center;
border: 1px solid #fff;
margin: 4px 0px;
}

.divTableCell {
display: table-cell;
}

.divTableRow {
display: table-row;
}

a.feature {
border-radius: 10px;
display: block;
font-size: 18px;
font-weight: 700;
margin: 0 14px 10px;
padding: 10px;
}

a.feature.shuffle {
background: #82d1dc;
color: #073d5a;
}

a.feature.archive {
background: #83dc62;
color: #1e5a07;
display: none;
}

a.feature.shuffle:hover {
background: #72bac4;
}

a.feature.archive:hover {
background: #73c256;
}

.finnhat {
background: #fff;
border-radius: 0 0 10px 10px;
color: #404040;
margin-bottom: 20px;
padding: 5px;
position: relative;
text-align: left;
}

.finnshirt,
.finnshort,
a.finn-and-huntresswizard {
text-align: center;
position: relative;
}

.finnshort.with-video {
z-index: 2;
}

.finnhat.green {
padding-left: 15px;
padding-right: 15px;
}

.finnshirt {
background: #4598e6;
border: 3px solid #e7fbff;
border-radius: 10px 10px 0 0;
color: #fff;
font-size: 22px;
margin-top: 20px;
padding: 3px;
vertical-align: top;
}

.finnshirt a {
color: #fffaee;
text-decoration: underline;
}

.finnshort {
background: #e7fbff;
border-radius: 0 0 10px 10px;
margin-bottom: 20px;
padding: 20px 0;
}

.finnshirt.green,
.finnshirt.white {
border: 3px solid #fff;
}

.finnshirt.green {
background: #219e00;
}

.subtab a,
.tabs a {
transition: all 0.2s linear;
}

.grassbackground {
background-color: #82a733;
background-image: url(/images/grass-finale.jpg);
background-size: 200px 125px;
border: 1px solid #d3e7a8;
margin-bottom: 2px;
overflow: hidden;
padding: 0;
position: relative;
}

.green-banner > #line1,
.green-banner > #line2 {
display: block;
margin: 2px 0;
text-align: center;
}

.green-banner {
background-image: url(/images/phil-and-jake.png);
background-position: right;
background-repeat: no-repeat;
background-size: 160px;
padding: 6px 0;
text-shadow: 2px 2px 5px #000;
}

.green-banner > #line1 {
color: #fff;
font-size: 22px;
}

.green-banner > #line2 {
color: #f2f2f2;
font-size: 18px;
}

div.logo {
margin-bottom: -16px;
padding: 15px 0;
text-align: center;
}

div.logo img {
height: auto;
width: 60%;
}

span.name2 {
font-size: 20px;
font-weight: 700;
}

#nav1 {
display: none;
}

#nav2,
.purple-banner div span {
display: block;
}

.purple-banner {
background-color: #f66804;
background-image: url(/images/sunset.jpg);
background-position: center center;
background-size: cover;
border: 1px solid #fff;
color: #fff;
height: 90px;
margin-top: 4px;
padding: 5px;
position: relative;
}

.purple-banner a {
color: #fff;
text-decoration: underline;
}

#hamburger-content a,
.purple-banner a:hover {
text-decoration: none;
}

.purple-banner div {
background-color: rgba(0, 0, 0, 0.5);
border-radius: 10px;
bottom: 5px;
left: 0;
margin: auto;
max-width: 600px;
padding: 4px 0;
position: absolute;
right: 0;
text-align: center;
text-shadow: 0 0 5px #000;
}

.purple-banner div img {
height: 5px;
width: 7px;
}

.purple-banner div #atvs {
font-size: 24px;
}

.purple-banner div #linhdinh {
font-size: 14px;
}

.rmenu {
background-color: #fee5fd;
border-radius: 10px;
color: #b30000;
margin: 10px 0;
padding: 14px;
}

.rmenu a {
border-bottom: 1px solid #b30000;
color: #b30000;
}

.snail {
cursor: help;
margin-top: -20px;
position: absolute;
right: 60px;
top: 0;
}

p.synopsis {
font-size: 14px;
max-height: 80px;
overflow: auto;
text-align: justify;
-webkit-overflow-scrolling: touch;
}

#hamburger,
#hamburger-icon,
.sub-tab-background,
.subtab a,
.tab-content,
.tabs {
text-align: center;
}

.titlecard {
border: 1px solid #e6e6e6;
display: inline-block;
padding: 0;
margin-bottom: 4px;
width: 94%;
}

#videoplayer2,
#videoplayer1 {
display: block;
}

span.view {
color: #fff;
cursor: default;
font-size: 12px;
position: absolute;
right: 8px;
text-shadow: #84df83 1px 1px 1px;
top: 4px;
}

.sub-tab-background,
.subtab a,
.tab-content,
div.table,
div.tile {
position: relative;
}

div.table {
overflow: auto;
padding: 0;
width: 100%;
}

div.episode,
div.episode0 {
border-radius: 10px;
margin: 2px;
padding: 10px 0 3px;
position: relative;
text-align: center;
}

div.episode0 {
background-color: #ffe6e6;
border: 1px solid #f99;
color: #b30000;
}

div.episode {
background-color: #fff;
border: 1px solid #e6e6e6;
}

div.episode a,
div.episode0 a {
background: #000;
box-shadow: 0 0 15px 0 #999;
display: inline-block;
margin: auto;
padding: 0;
width: 84%;
}

div.episode a img,
div.episode0 a img {
transition: all 0.2s linear;
width: 100%;
}

div.episode0 a img {
cursor: help;
}

div.episode span,
div.episode0 span {
cursor: default;
display: block;
font-size: 14px;
margin: 5px auto auto;
max-width: 90%;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

.subtab,
.tab-content,
.tabs {
overflow: auto;
}

.tabs {
background: #39f;
border-left: 3px solid #e7fbff;
border-right: 3px solid #e7fbff;
border-top: 3px solid #e7fbff;
border-radius: 16px 16px 0 0;
font-size: 26px;
margin-top: 16px;
overflow: hidden;
padding: 10px 40px 0;
}

.tabs .current,
.tabs a {
border-radius: 14px 14px 0 0;
display: inline-block;
padding: 6px 20px;
}

.tabs.white {
border-left: 3px solid #fff;
border-right: 3px solid #fff;
border-top: 3px solid #fff;
}

.tabs .current {
background: #e7fbff;
color: #007acc;
cursor: default;
}

.tabs .current.white {
background: #fff;
}

.tabs a {
background: #006bb3;
color: #fff;
}

.tabs a:hover {
background: #004d80;
}

.tab-content {
background: #e7fbff;
border-radius: 0 0 16px 16px;
color: #404040;
margin-bottom: 20px;
padding: 10px 4px 4px;
}

.tab-content.white {
background: #fff;
}

.sub-tab-background {
background: #e7fbff;
padding: 14px 8px 2px;
}

.sub-tab-background.white,
.subtab {
background: #fff;
}

.subtab {
border-bottom: 1px solid #00b300;
border-top: 1px solid #00b300;
padding: 1px 0;
}

.subtab .divTable {
table-layout: fixed;
}

.subtab a {
background-color: #000;
background-image: url(/images/seasons-bg.jpg);
background-position: center center;
background-repeat: no-repeat;
background-size: 200px 450px;
border-left: 1px solid transparent;
border-right: 1px solid #8c8c8c;
color: #c8c8c8;
display: block;
font-size: 18px;
overflow: hidden;
padding: 14px 10px;
text-overflow: ellipsis;
text-shadow: 0 0 10px #1a1a1a;
}

.subtab a span.current {
border: 2px solid #fff;
border-radius: 6px;
color: #fff;
padding: 2px 4px;
}

.subtab td:first-child a {
background-repeat: no-repeat;
border-left: 1px solid transparent;
}

.subtab td:last-child a {
background-repeat: no-repeat;
border-right: 1px solid transparent;
}

.subtab a:hover {
color: #fff;
}

.subtab a.season9 {
background-position-y: -400px;
}

.subtab a.season8 {
background-position-y: -350px;
}

.subtab a.season7 {
background-position-y: -300px;
}

.subtab a.season6 {
background-position-y: -250px;
}

.subtab a.season5 {
background-position-y: -200px;
}

.subtab a.season4 {
background-position-y: -150px;
}

.subtab a.season3 {
background-position-y: -100px;
}

.subtab a.season2 {
background-position-y: -50px;
}

.subtab a.season1 {
background-position-y: -0;
}

#hamburger {
left: 0;
padding: 2px 10px;
position: absolute;
top: 0;
}

#hamburger-icon {
display: inline-block;
height: 16px;
position: relative;
width: 30px;
}

#hamburger-icon .line {
background: #ecf0f1;
border-radius: 6px;
display: block;
height: 2px;
left: 0;
position: absolute;
width: 30px;
transition: all 0.4s linear;
}

#hamburger-icon .line.line-1 {
top: 0;
}

#hamburger-icon .line.line-2 {
top: 50%;
}

#hamburger-icon .line.line-3 {
top: 100%;
}

#hamburger-icon.active .line-1 {
transform: translateY(8px) translateX(0) rotate(45deg);
-webkit-transform: translateY(8px) translateX(0) rotate(45deg);
-moz-transform: translateY(8px) translateX(0) rotate(45deg);
}

#hamburger-icon.active .line-2 {
opacity: 0;
}

#hamburger-icon.active .line-3 {
transform: translateY(-8px) translateX(0) rotate(-45deg);
-webkit-transform: translateY(-8px) translateX(0) rotate(-45deg);
-moz-transform: translateY(-8px) translateX(0) rotate(-45deg);
}

#hamburger-content {
background: #4598e6;
display: none;
color: #fff;
font-size: 16px;
left: 0;
padding: 4px 20px;
right: 0;
text-align: left;
}

#hamburger-content a {
color: #fff;
}

#hamburger-content hr {
background: #62aaea;
border: none;
height: 2px;
}
