<!doctype>
<html>
<head>
	<meta name="robots" content="noindex">
	<meta name="viewport" content="width=device-width,initial-scale=1" />
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/finnxhuntresswizard.css?v=157" media="all,handheld"/>
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="/images/appleicon.jpg" />
</head>
<body>
<div class="logo">
	<a href="/" rel="nofollow">
		<img src="/images/adventuretimevietsub-official-logo-22.png" alt="Adventure Time" title="Kiếm Bóng Đêm"/>
	</a>
</div>
<div class="grassbackground">
	<div class="cloud-s5e40"></div>
	<div align="center" class="green-banner">
		<span id="line1">Giờ Phiêu Lưu</span>
		<span id="line2">adventuretimevietsub</span>
	</div>
</div>
	{{ content }}
<div class="purple-banner">
	<div>
		<span id="atvs">Giờ Phiêu Lưu</span>
		<span id="linhdinh">Được tạo và thiết kế bởi <a href="http://facebook.com/adventuretimevietsub">Adventure Time Vietsub</a></span>
	</div>
</div>
</body>
</html>
